#search-query {
  background-color: transparent !important;
  outline: none !important;
}

.search-query {
  background-color: transparent !important;
  outline: none !important;
}

.text-shadow {
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#quote > .author-hover{
  display:none;
}
#quote:hover > .author-hover{
  display: block;
}
